.container, 
.balao,
.balao::after, 
.balao::before,
.cesta,
.cesta::after,
.cesta::before {

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
}

.container {
  height: 500px;
  width: 500px;
  background-color: #E1E4FA;
  border-radius: 50%;
}

.balao {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  top: -100px;
  background-color: #FF98C0;
  border: 10px solid #AD91CA;
}

.balao::before{
  content: '';
  height: 300px;
  width: 190px;
  border: 10px solid #AD91CA;
  background-color: #FFC6E6;
  border-radius: 50%;
}

.balao::after{
  content: '';
  height: 300px;
  width: 60px;
  border: 10px solid #AD91CA;
  background-color: #FF98C0;
  border-radius: 50%;
}

.cesta {
  height: 45px;
  width: 65px;
  background-color: #AD91CA;
  border-radius: 4px;
  top: 290px;
}

.cesta::before {
  content: '';
  background-color: #AD91CA;
  height: 10px;
  width: 75px;
  top: -50px;
  left: -5px;
  border-radius: 15%;
}